@import '../../../../constants/theme.scss';
@import '../../../../utils/mixins.scss';

.container {
  @include spacing (1rem);
  @include theme (background-color, eSecondaryMuted);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 25rem;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    @include spacing (1rem 2rem);
  }
}

.divider {
  @include theme (border-top, grey6, 1px dashed);
  margin: 2rem 0 !important;
  height: 0;

  @media screen and (min-width: 1200px) {
    margin: 2.5rem 0 !important;
  }
}

.totalContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: right;
}

.total {
  @include theme (color, contrast2);

  & strong {
    @include theme (color, contrast2);
  }
}
