@import '../../constants/theme.scss';
@import '../../utils/mixins.scss';

.questionDetails {
  & li {
    @include theme (color, contrast1Opacity90);
  }
}

.questionDescription {
  @include spacing (0 0.25rem);
  word-break: break-word;
  white-space: break-spaces;
}

.questionTitle {
  @include theme (color, eSecondary);
}

.questionDescriptionHighlight {
  @include spacing (0 0.25rem);
  @include theme (color, contrast1Opacity90);
  @include theme (background-color, ePrimaryDeep);
  border-radius: 0.25rem;
}

.solutionContainer {
  @include spacing ($margin: 1rem);
  max-width: 40rem;
}
