@import '../../../../constants/theme.scss';
@import '../../../../utils/mixins.scss';

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  @include theme(color, contrast1);
  font-size: 2rem;

  @media screen and (min-width: 1200px) {
    font-size: 3rem;
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.tile {
  @include theme(background-color, accent1Opacity50);
  @include theme(border, grey3, 1px solid);
  height: 5rem;
  width: 5rem;
  border-radius: 0.25rem;

  &.tileRed {
    background-color: rgba($color: $red-2, $alpha: 0.75);
  }

  &.tileYellow {
    background-color: rgba($color: $yellow-4, $alpha: 0.9);
  }

  &.tileGreen {
    background-color: rgba($color: $green-2, $alpha: 0.75);
  }

  &.tileBlue {
    background-color: rgba($color: $blue-3, $alpha: 0.85);
  }
}
