@import '../../utils/mixins.scss';
@import '../../constants/theme.scss';

.questionTitle {
  color: $project-header-2;
}

.questionPoints {
  @include spacing(0.75rem 0.5rem 0.75rem 2rem, 0.5rem 0);
  background-color: $project-list-bg-2;
  border-radius: 0.25rem;

  .questionPoint {
    color: $light;
    letter-spacing: -0.2px;
    font-size: 0.85rem;
    margin: 0.25rem 0;

    @media screen and (min-width: 992px) {
      font-size: 0.95rem;
    }
  }
}

.tableContainer {
  border: 1px solid rgba($color: $light, $alpha: 0.5);
  border-collapse: separate;
  align-self: stretch;

  .tableCaption {
    font-size: 1.5rem;
    font-weight: 500;
    color: $project-table-header-2;
    letter-spacing: -0.75px;
    margin-bottom: 0.3rem;
    text-align: left;

    @media screen and (min-width: 992px) {
      font-size: 1.75rem;
    }
  }

  .tableCellHeading {
    @include spacing(0.75rem 1rem);
    border: 1px dotted rgba($color: $project-table-header-2, $alpha: 0.3);
    letter-spacing: -0.25px;
    font-size: 1rem;
    color: $project-table-header-2;

    @media screen and (min-width: 992px) {
      font-size: 1.1rem;
      @include spacing(1rem 1.5rem);
    }
  }

  .tableCellData {
    @include spacing(0.75rem 1rem);
    border: 1px dotted rgba($color: $project-table-header-2, $alpha: 0.3);
    font-size: 0.9rem;
    color: $white;

    @media screen and (min-width: 992px) {
      font-size: 1rem;
      @include spacing(1rem 1.5rem);
    }
  }
}
