@import '../../constants/theme.scss';
@import '../../utils/mixins.scss';

.pageContainer {
  @media screen and (min-width: 992px) {
    overflow-y: hidden;
  }
}

.questionDetails {
  @media screen and (min-width: 992px) {
    max-width: 40rem;
    max-height: 85vh;
    overflow-y: auto;
  }
}

.questionDescription {
  @include spacing (0 0.25rem);
  word-break: break-word;
  white-space: break-spaces;

  a {
    color: $project-highlight-34;
  }
}

.questionTitle {
  color: $project-header-34;
}

.questionDescriptionHighlight {
  @include spacing (0 0.25rem);
  background-color: $project-highlight-34;
  border-radius: 0.25rem;
}

.solutionContainer {
  @include spacing (2rem);
  border: 1px dotted rgba($color: $white, $alpha: 0.5);
  border-radius: 0.25rem;
  overflow-y: hidden;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 992px) {
    @include spacing (4rem 2rem);
    max-height: 85vh;
    width: 35rem;
  }
}

.tier {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.25rem solid $grey-3;

  &:not(:first-of-type) {
    border-top: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.tierTitle {
  color: $white;
  flex: 1;
  border-bottom: 0.25rem solid $grey-3;
  text-align: center;
  @include spacing (1rem 1.5rem);

  @media screen and (min-width: 1200px) {
    border-bottom: none;
    border-right: 0.25rem solid $grey-3;
    text-align: initial;
    font-size: 1.5rem;
  }
}

.tierUnranked {
  border-top: 0.25rem solid $grey-3 !important;
  @include spacing ($margin: 2.5rem 0 0);
}

.dropZone {
  @include spacing (0.5rem 1.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 3;
  gap: 1rem;
  min-height: 4rem;
}

.item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;

  &.itemBlue {
    background-color: $blue-3;
  }

  &.itemRed {
    background-color: $red-2;
  }

  &.itemGreen {
    background-color: $green-2;
  }
}
