@import '../../../constants/theme.scss';
@import '../../../utils/mixins.scss';

.item {
  @include theme (background-color, accent2);
  @include spacing (0.75rem 1rem);
  cursor: pointer;
  list-style: none;

  @media screen and (min-width: 1200px) {
    @include spacing (1rem 1.25rem);
  }

  &:hover {
    filter: brightness(1.25);
  }
}

.itemTitle {
  @include theme (color, contrast2);
  font-size: 0.9rem;

  @media screen and (min-width: 1200px) {
    font-size: 1rem;
  }
}
