@import '../../../../constants/theme.scss';
@import '../../../../utils/mixins.scss';

.card {
  @include spacing(0.6rem);
  @include theme(background-color, accent1Opacity70);
  border-radius: 0.6rem;
  display: flex;
  gap: 0.6rem;
  align-self: stretch;

  & .cardImage {
    @include circle(4rem);
    display: inline-block;
    object-fit: contain;
    box-shadow: 1px 2px 2px rgba($color: $black, $alpha: 0.5);
  }

  & .cardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.25rem;

    & .cardDescription {
      @include spacing(0.2rem 0);
      @include theme(color, contrast1);
      font-size: 0.9rem;
      letter-spacing: -0.1px;
      flex: 1;

      & .cardName {
        @include theme(color, contrast1);
        font-weight: bold;
        letter-spacing: 0;
      }
    }

    & .cardTime {
      @include theme(color, contrast1Opacity30);
      font-size: 0.75rem;
      font-style: italic;
      align-self: flex-end;
    }
  }
}
