$black: #000000;
$dark: #0D0E0E;

$white: #FFFFFF;
$light: #F4F5F6;

$transparent: #00000000;

$grey-1: #505050;
$grey-2: #2F2F2F;
$grey-3: #777777;
$grey-4: #B7B7B7;
$grey-5: #CFCFCF;
$grey-6: #EFEFEF;

$blue-1: #02203C;
$blue-2: #0C3F6F;
$blue-3: #8CC4F9;

$green-1: #233B08;
$green-2: #9AE346;
$green-3:#29C01B;

$red-1: #5E0618;
$red-2: #F44064;
$red-3: #E33526;
$red-4: #FF6868;

$yellow-1: #F4D33E;
$yellow-2:#DBB311;
$yellow-3:#493B05;
$yellow-4:#EFDE7E;

$LIGHT: (
  accent1: $white,
  accent2: $light,
  accent3: #F7F7F7,
  contrast1: $black,
  contrast2: $dark,
  accent1Opacity10: rgba(255, 255, 255, 0.1),
  accent1Opacity20: rgba(255, 255, 255, 0.2),
  accent1Opacity30: rgba(255, 255, 255, 0.3),
  accent1Opacity40: rgba(255, 255, 255, 0.4),
  accent1Opacity50: rgba(255, 255, 255, 0.5),
  accent1Opacity60: rgba(255, 255, 255, 0.6),
  accent1Opacity70: rgba(255, 255, 255, 0.7),
  accent1Opacity80: rgba(255, 255, 255, 0.8),
  accent1Opacity90: rgba(255, 255, 255, 0.9),
  contrast1Opacity10: rgba(0, 0, 0, 0.1),
  contrast1Opacity20: rgba(0, 0, 0, 0.2),
  contrast1Opacity30: rgba(0, 0, 0, 0.3),
  contrast1Opacity40: rgba(0, 0, 0, 0.4),
  contrast1Opacity50: rgba(0, 0, 0, 0.5),
  contrast1Opacity60: rgba(0, 0, 0, 0.6),
  contrast1Opacity70: rgba(0, 0, 0, 0.7),
  contrast1Opacity80: rgba(0, 0, 0, 0.8),
  contrast1Opacity90: rgba(0, 0, 0, 0.9),
  contrast3: rgba($color: $dark, $alpha: 0.75),
  divider: rgba($color: $dark, $alpha: 0.1),
  iconButton: rgba($color: $black, $alpha: 0.1),
  grey1: rgba(225, 225, 225, 0.25),
  grey2: rgba(240, 240, 240, 0.2),
  grey3: rgba(200, 200, 200, 0.5),
  grey4: rgba(230, 230, 230, 1),
  grey5: rgba(240, 240, 240, 1),
  grey6: rgba(100, 100, 100, 1),
  grey7: rgba(210, 210, 210, 0.95),
  blue1: #214789,
  red1: #9D092B,
  green1: #60A911,
  yellow1: #D9C913,
  blue2: #B9D1FB,
  red2: #F4AABB,
  green2: #C9F699,
  yellow2: #F5ED95,
  errorScreenBG: linear-gradient(40deg, #DFE6F3, #E5DAF6, $light),

  // ------ exercise values ------
  ePrimary: #1F9FC5,
  ePrimaryMuted: #E4EFF1,
  ePrimaryContrast: #062237,
  ePrimaryDeep: #1690EE,
  ePrimaryDark: #092F4D,
  eSecondary: #75D30B,
  eSecondaryMuted: #E7EDE0,
  eSecondaryContrast: #043825,
  eSecondaryDeep: #0FBE7E,
  eSecondaryDark: #083626,

  eSignupForm: rgba(215, 215, 215, 0.25),
  eTodoItem: #4A0B91,
);

$DARK: (
  accent1: $black,
  accent2: $dark,
  accent3: #171717,
  contrast1: $white,
  contrast2: $light,
  accent1Opacity10: rgba(0, 0, 0, 0.1),
  accent1Opacity20: rgba(0, 0, 0, 0.2),
  accent1Opacity30: rgba(0, 0, 0, 0.3),
  accent1Opacity40: rgba(0, 0, 0, 0.4),
  accent1Opacity50: rgba(0, 0, 0, 0.5),
  accent1Opacity60: rgba(0, 0, 0, 0.6),
  accent1Opacity70: rgba(0, 0, 0, 0.7),
  accent1Opacity80: rgba(0, 0, 0, 0.8),
  accent1Opacity90: rgba(0, 0, 0, 0.9),
  contrast1Opacity10: rgba(255, 255, 255, 0.1),
  contrast1Opacity20: rgba(255, 255, 255, 0.2),
  contrast1Opacity30: rgba(255, 255, 255, 0.3),
  contrast1Opacity40: rgba(255, 255, 255, 0.4),
  contrast1Opacity50: rgba(255, 255, 255, 0.5),
  contrast1Opacity60: rgba(255, 255, 255, 0.6),
  contrast1Opacity70: rgba(255, 255, 255, 0.7),
  contrast1Opacity80: rgba(255, 255, 255, 0.8),
  contrast1Opacity90: rgba(255, 255, 255, 0.9),
  contrast3: rgba($color: $light, $alpha: 0.75),
  divider: rgba($color: $light, $alpha: 0.1),
  iconButton: rgba($color: $white, $alpha: 0.1),
  grey1: rgba(100, 100, 100, 0.25),
  grey2: rgba(75, 75, 75, 0.2),
  grey3: rgba(75, 75, 75, 0.6),
  grey4: rgba(50, 50, 50, 1),
  grey5: rgba(30, 30, 30, 1),
  grey6: rgba(150, 150, 150, 1),
  grey7: rgba(90, 90, 90, 0.9),
  blue1: #7CB9E8,
  red1: #F55757,
  green1: #93F30C,
  yellow1: #F2E639,
  blue2: #08275D,
  red2: #5C0A1D,
  green2: #1F3408,
  yellow2: #3D390A,
  errorScreenBG: linear-gradient(40deg, #021026, #0E021F, $dark),

  // ------ exercise values ------
  ePrimary: #55C1E2,
  ePrimaryMuted: #19232A,
  ePrimaryContrast: #B7DDFB,
  ePrimaryDeep: #16517F,
  ePrimaryDark: #052C49,
  eSecondary: #A3F545,
  eSecondaryMuted: #141F18,
  eSecondaryContrast: #BEF6D2,
  eSecondaryDeep: #106244,
  eSecondaryDark: #042519,

  eSignupForm: rgba(0, 0, 0, 0.25),
  eTodoItem: #722DC0,
);

$themes: ($LIGHT, $DARK);

$eStopWatch: #F46E26;
$ePigHead: #FFC0CB;
$ePigNose: #F57187;
$eProductBlue: #8C96F6;
$eProductRed: #E64970;
$eProductOrange: #F37F1B;
$eProductBrightRed: #F21B3E;
$eProductGreen: #25B59B;
$eProductSelected: #279600;
$eEmojiBg: #A4D9EB;
$eEmojiBorder: #9BBCC2;
$eEmojiStickBg: #808080;
$eEmojiBulbBg: #FFA500;
$eEmojiEarBg: #C90A0A;
$eEmojiEyeBorder: #00B3FF;
$eEmojiMouthBg: #DEDEDE;
$eCandidates: #061802;
