$black: #000000;
$white: #FFFFFF;
$light: #F4F5F6;
$dark: #0D0E0E;

$grey-1: #505050;

// Project 1
$project-bg-1: linear-gradient(50deg, #180E15 0%, $black 100%);
$project-header-1: #F89D42;
$project-list-bg-1: #8A3D43;
$project-highlight-1: $white;

// Project 2
$project-bg-2: linear-gradient(50deg, #111B1C 0%, $black 100%);
$project-table-header-2: #F9EA76;
$project-list-bg-2: #6C2E82;
$project-header-2: #DE90FA;

// project-3
$project-bg-3: linear-gradient(50deg, #13141B 0%, $black 100%);
$project-header-3: #55C1E2;
$project-list-bg-3: #A3F545;
$project-section-title-3: #BEF57F;

// project-4
$project-bg-4: linear-gradient(50deg, #13130E 0%, $black 100%);
$project-header-4: #F870A0;
$project-section-header-4: #ce8bfb;
$project-highlight-4: #2D1883;

// project-5
$project-bg-5: linear-gradient(30deg, #120E14 0%, $black 100%);
$project-header-5: #63FACA;

// project-6
$project-bg-6: linear-gradient(30deg, #0A0E06 0%, $black 100%);
$project-header-6: #C5FFE4;
$project-navbar-bg-6: #0038A8;
$project-navbar-hover-bg-6: #1E87B5;

$LIGHT: (
  accentColor1: $white,
  accentColor2: $light,
);

$DARK: (
  accentColor1: $black,
  accentColor2: $dark,
);

$themes: ($LIGHT, $DARK);
