@import '../../constants/theme.scss';
@import '../../utils/mixins.scss';

.questionContainer {
  @include spacing(1rem);
  border: 1px dotted rgba($color: $dark, $alpha: 0.5);
  border-radius: 0.25rem;
  width: 100%;
  max-width: 30rem;
  align-self: stretch;

  .questionTitle {
    letter-spacing: -0.25px;
    margin-bottom: 1rem;
  }

  .questionDescription {
    color: $dark;
    letter-spacing: -0.2px;
    font-size: 0.85rem;

    @media screen and (min-width: 992px) {
      font-size: 0.95rem;
    }
  }
}