@import '../../../../constants/theme.scss';
@import '../../../../utils/mixins.scss';

.container {
  @include spacing(1rem);
  @include theme(background-color, ePrimaryMuted);
  border-radius: 0.5rem;
}

.buttonsContainer {
  @include spacing(1rem 0 0);
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 0.5rem;
}
