@import '../../utils/mixins.scss';
@import '../../constants/theme.scss';

.pageContainer {
  @include spacing (0);
  flex-direction: column;

  @media screen and (min-width: 992px) {
    gap: 4rem;
  }
}

.navbar {
  background-color: $project-navbar-bg-6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.navItems {
  @include spacing (0, 0);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }

  & li {
    @include spacing (1rem 1.5rem);
    list-style: none;
    font-size: 0.9rem;
    color: $white;
    transition: all 0.25s;

    &:hover {
      cursor: pointer;
      background-color: rgba($color: $project-navbar-hover-bg-6, $alpha: 0.9);
    }

    &:last-of-type {
      border-right: none;
    }

    @media screen and (min-width: 992px) {
      font-size: 1rem;
      border-right: 2px solid rgba($color: $light, $alpha: 0.2);
    }
  }
}

.questionDetails {
  align-self: center;
  border: none;
  max-width: 40rem;

  .questionTitle {
    color: $project-header-6;
  }

  .questionDescriptionParagraph {
    @include spacing ($margin: 0.5rem 0);
  }

  .questionDescriptionPoints {
    & li {
      @include spacing ($margin: 0.5rem 0);
    }
  }
}
