@import '../../../constants/theme.scss';
@import '../../../utils/mixins.scss';

.input {
  @include theme (border, contrast2, 1px solid);
  @include theme (color, contrast1);
  background-color: transparent;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;

  @media screen and (min-width: 992px) {
    font-size: 1.1rem;
  }

  &::placeholder {
    @include theme (color, contrast1Opacity30);
  }

  &:hover,
  &:focus {
    @include theme (border, blue1, 1px solid);
  }

  &:disabled {
    @include theme (border, grey3, 1px solid);
    @include theme (color, grey3);
  }
}

.fullWidth {
  width: 100%;
}
