@import '../../utils/mixins.scss';
@import '../../constants/theme.scss';

.questionTitle {
  @include theme (color, eSecondary);
}

.questionPoints {
  @include spacing(0.75rem 0.5rem 0.75rem 2.5rem, 0.5rem 0);
  @include theme (background-color, ePrimaryMuted);
  border-radius: 0.25rem;

  & .questionPoint {
    @include theme (color, contrast1Opacity90);
    margin: 0.15rem 0;
    letter-spacing: -0.2px;
  
    & strong {
      @include theme (color, contrast1);
    }
  }
}

.formContainer {
  @include theme (background-color, eSignupForm);
  @include spacing (1rem, 2rem 0);
  border-radius: 0.5rem;
  width: 100%;
  
  @media screen and (min-width: 1200px) {
    @include spacing (2rem, 2rem 0);
    max-width: 25rem;
  }
}

.tosFormGroup {
  display: flex;
  gap: 1rem;
}

.questionDescriptionHighlight {
  @include theme (color, contrast1Opacity90);
}
