@import '../../constants/theme.scss';
@import '../../utils/mixins.scss';

.container {
  @include theme(background-color, accent3);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: row;
  }
}

.error {
  @include spacing(2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  @media screen and (min-width: 1200px) {
    @include spacing(4rem 6rem);
  }
}

.title {
  @include theme(color, red1);
  font-size: 3rem;

  @media screen and (min-width: 1200px) {
    font-size: 4rem;
  }
}

.subtitle {
  @include theme(color, contrast1Opacity70);
  font-size: 1.5rem;
}

.description {
  @include theme(color, contrast1Opacity70);
  font-size: 1.5rem;
  font-weight: 500;
}

.redirection {
  @include theme(color, yellow1);
  @include spacing(2rem 0);
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  word-spacing: -4px;
}
