@import '../../../utils/mixins.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  & .iconButton {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
  }

  & .revealCodeButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.codeBlock {
  padding: 1rem 0.75rem !important;
  overflow-x: auto;
  border-radius: 0.5rem;
  flex: 1;
  min-height: 5rem;
}

.blurredOverlay {
  filter: blur(10px);
}