@import '../../../utils/mixins.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  & .iconButton {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
  }
}

.codeBlock {
  padding: 1rem 0.75rem !important;
  overflow-x: auto;
  border-radius: 0.5rem;
  flex: 1;
  min-height: 5rem;
}
