@import '../../utils/mixins.scss';
@import '../../constants/theme.scss';

.questionTitle {
  color: $project-header-5;
}

.questionDescriptionParagraph {
  @include spacing ($margin: 0.5rem 0);

}

.questionPointWrapper {
  display: flex;
  align-items: center;
  gap: 0.35rem;

  .questionPointBox {
    @include circle (0.8rem);
    display: inline-block;
  }
}

.circlesContainer {
  @include spacing (1rem);
  border: 1px dotted rgba($color: $white, $alpha: 0.5);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.outerCircle {
  @include circle (13.25rem, #FFA500);
  border: 1.15rem solid #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 992px) {
    @include circle (18rem);
    border: 1.5rem solid #FF0000;
  }

  .middleCircle {
    @include circle (8.5em, #008000);
    border: 1.15em solid #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 992px) {
      @include circle (12em);
      border: 1.5em solid #FFFF00;
    }

    .innerCircle {
      @include circle (4em, #800080);
      border: 1.15em solid #0000FF;
      z-index: 1;

      @media screen and (min-width: 992px) {
        @include circle (6em);
        border: 1.5em solid #0000FF;
      }
    }
  }
}