@import '../../../../constants/theme.scss';
@import '../../../../utils/mixins.scss';

.testimonial {
  @include spacing(1rem);
  @include theme(background-color, grey1);
  @include theme(color, contrast2);
  @include theme(border-left, blue1, 0.25rem solid);
  padding-right: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.avatar {
  @include circle(4rem);
  align-self: center;

  @media screen and (min-width: 1200px) {
    align-self: initial;
  }
}

.description {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: initial;
  }
}

.name {
  @include theme(color, contrast1);
}

.message {
  @include theme(color, contrast1Opacity90);
  font-size: 0.9rem;
}
