@import '../../constants/theme.scss';
@import '../../utils/mixins.scss';

.questionDetails {
  & li {
    @include theme(color, contrast1Opacity90);
  }
}

.questionDescription {
  @include spacing(0 0.25rem);
  word-break: break-word;
  white-space: break-spaces;
}

.questionTitle {
  @include theme(color, eSecondary);
}

.break {
  @include spacing($margin: 0.5rem 0);
}

.questionDescriptionHighlight {
  @include spacing(0 0.25rem);
  @include theme(color, contrast1Opacity90);
  @include theme(background-color, ePrimaryDeep);
  border-radius: 0.25rem;
}

.solutionContainer {
  @include spacing($margin: 2rem 1rem);
}

.gameContainer {
  @include spacing(2rem);
  @include theme(background-color, eSecondaryMuted);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  border-radius: 0.5rem;
}

.gameTitle {
  @include theme(color, contrast1Opacity70);
  font-size: 1.25rem;
  letter-spacing: -0.5px;

  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}

.gameStatus {
  @include theme(color, contrast1);
  font-size: 1.5rem;
  letter-spacing: -0.5px;

  @media screen and (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

.board {
  @include spacing($margin: 2rem 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.tile {
  @include theme(color, contrast1, $inlinePost: !important);
  @include theme(border, ePrimary, 2px solid, !important);
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    @include theme(background-color, ePrimary, $inlinePost: !important);
  }

  &:disabled {
    filter: contrast(70%) brightness(80%) !important;
  }

  @media screen and (min-width: 1200px) {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
}
